:root {
  font-size: 62.5%;
}

.body {
  min-height: 100vh;
}

.container {
  margin-top: 3rem;
}

.col-4 img {
  width: 100%;;
}

.col-8 {
  font-size: 3.3rem;
}

#advan {
  text-align: center;
  font-size: 5rem;
}

#carouselExampleDark {
  width: 50rem;
  left: 50%;
  transform: translate(-50%);
}

.carousel-caption h5 {
  font-size: 2rem;
}

.borders {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 1rem 0;
  margin: 4rem 20rem;
}

#flex1 {
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem 20rem;
}

#flex1 p {
  font-size: 3rem;
}

#make_order {
  height: 10rem;
  width: 15rem;
  font-size: 2rem;
}

#form {
  height: 10rem;
  width: 15rem;
  font-size: 2rem;
}

#arrow {
  height: 5rem;
}

#flex2{
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.6rem;
  margin: 0 5rem 7rem 7rem;
}

#flex2 p {
  width: 60%;
}

footer {
  background-color: grey;
  color: white;
  padding: 2rem 5rem;
  margin-top: auto;
}

footer p {
  font-size: 3rem;
}


@media screen and (max-width: 800px ){
  .container .col-4 {
    flex: 0 0 41.667%; /* 5 колонок из 12 */
    max-width: 41.667%;
  }
  .container .col-8 {
    flex: 0 0 58.333%; /* 7 колонок из 12 */
    max-width: 58.333%;
    font-size: 2.5rem;
  }
  #advan {
    font-size: 4rem;
  }
  .borders {
    margin: 4rem 10rem;
  }
  #carouselExampleDark {
    width: 40rem;
  }
  #flex1 {
    margin: 0 5rem;
  }
  #flex1 p {
    font-size: 2.7rem;
  }
  #arrow {
    height: 3.5rem;
  }
  #make_order {
    height: 6rem;
    width: 10rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 600px) {
  .container .col-4, 
  .container .col-8 {
      flex: 0 0 50%; 
      max-width: 50%;
      font-size: 2rem;
  }
  #advan {
    font-size: 3rem;
  }
  #carouselExampleDark {
    width: 35rem;
  }
  #flex1 {
    margin: 0 3rem;
  }
  #flex1 p {
    font-size: 2.3rem;
  }
  #arrow {
    height: 3rem;
  }
  #make_order { 
    height: 5rem;
    width: 8rem;
    font-size: 1.7rem;
  }
  #flex2 p {
    font-size: 2rem;
  }
  #form {
    height: 7rem;
    width: 13rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  #arrow {
    display: none;
  }
  #flex1 {
    flex-direction: column;
  }
}