:root {
  font-size: 62.5%;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.active {
  color: tomato;
}

body{
  font-size: 2.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 40px;
  padding: 0 50px;
}

nav{
  font-size: 3rem;
  margin-top: 8px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  margin-right: 15px;
}

nav a:last-child {
  margin-right: 0;
}

a{
  text-decoration: none;
  color: black ;
}

a:hover {
  color:tomato;
}

main {
  padding: 0 50px;
}

.dish {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: 4rem 0;
}

.dish_elem {
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  border-radius: 35px;
  cursor: pointer;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background-color: white;
}

.dish_elem:hover {
  border: 2px solid tomato;
}

.dish_elem:hover button {
  background-color: lightgray;
}

img {
  width: 100%;
  border-radius: 35px;
}

.price {
  font-size: 3rem;
  margin-top: 15px;
}

.name {
  font-size: 3rem;
  margin: 0 0 15px 0;
}

.weight {
  color: grey;
  font-size: 2rem;
  margin-top: auto;
}

.add_dish {
  background-color: #f1eee9;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  font-size: 2.5rem;
  margin-top: 4px;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 50px;
  margin-top: auto;
}

.create_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 5rem 0;
}

.block_create_order {
  display: flex;
  justify-content:space-between;
  font-size: 2.3rem;
  margin-top: 4rem;
  width: 70%;
}

.order_and_data {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.info {
  width: 45%;
  height: auto;
}

label {
  display: block;
  margin-top: 2rem;
}

label p {
  margin-bottom: 1rem;
}

input, select {
  font-size: 2.1rem;
  width: 75%;
  height: 5rem;
}

.comments {
  margin-top: 5rem;
}

textarea {
  font-size: 2.1rem;
  width: 75%;
  height: 12rem;
}

.checkbox_radio {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
}

.checkbox_radio input{
  margin-right: 1rem;
  width: 5%;
  height: 2rem;
}

.checkbox_radio p {
  margin-bottom: 0;
}

em {
  font-size: 2.1rem;
  font-style: italic;
}

.form_button {
  border: black solid 1.7px;
  border-radius: 0;
  background-color: white;
  font-size: 2.1rem;
  text-align: center;
  padding: 0.9rem 2.7rem;
}

.order_buttons {
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin-top: 2rem;
}

.filter_button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 0;
  font-size: 2.5rem;
  margin-top: 0.4rem;
  background-color: white;
  color: green;
}

.active_button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 0;
  font-size: 2.5rem;
  margin-top: 0.4rem;
  background-color: rgb(184, 239, 184);
  color: green;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  padding: 5rem 0;
  font-size: 2rem;
}

.options_title {
  text-align: center;
}

.lunch_options {
  display: flex;
  justify-content: space-evenly;
}

.lunch_dish {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lunch_dish img {
  width: 7rem;
  border-radius: 0;
}

.lunch_dish img:hover {
  transform: translateY(-0.9rem) scale(1.2);
}

.lunch_dish_text {
  font-size: 1.8rem;
}

#notific {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  border: black 1px solid;
  padding: 5rem 10rem;
  background-color: white;
}

#notific_button {
  background-color: white;
  border: black 1 px solid;
  margin-top: 3rem;
  padding: 0.7rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2.5rem;
}

@media screen and (max-width: 800px ) {
  .dish {
    grid-template-columns: 1fr;
  }
  nav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px ) {
  h1 {
    text-align: center;
  }
  .dish {
    grid-template-columns: 1fr;
  }
  nav {
    flex-direction: column;
    align-items: center;
    font-size: calc(3rem + 4px);
  }
}

