:root {
  font-size: 62.5%;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.active {
  color: tomato;
}

body{
  font-size: 2.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 40px;
  padding: 0 50px;
}

nav{
  font-size: 3rem;
  margin-top: 8px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  margin-right: 15px;
}

nav a:last-child {
  margin-right: 0;
}

a{
  text-decoration: none;
  color: black ;
}

a:hover {
  color:tomato;
}

main {
  padding: 0 50px;
}

.dish {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  margin: 4rem 0;
}

.dish_elem {
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  border-radius: 35px;
  cursor: pointer;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background-color: white;
}

.dish_elem:hover {
  border: 2px solid tomato;
}

.dish_elem:hover button {
  background-color: lightgray;
}

img {
  width: 100%;
  border-radius: 35px;
}

.price {
  font-size: 3rem;
  margin-top: 15px;
}

.name {
  font-size: 3rem;
  margin: 0 0 15px 0;
}

.weight {
  color: grey;
  font-size: 2rem;
  margin-top: auto;
}

button {
  background-color: #f1eee9;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  font-size: 2.5rem;
  margin-top: 4px;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 50px;
  margin-top: auto;
}

@media screen and (max-width: 800px ) {
  .dish {
    grid-template-columns: 1fr;
  }
  nav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px ) {
  h1 {
    text-align: center;
  }
  .dish {
    grid-template-columns: 1fr;
  }
  nav {
    flex-direction: column;
    align-items: center;
    font-size: calc(3rem + 4px);
  }
}
